.buttons{
    display: none;
}

.wrapper:hover .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

label {
  color: #fff;
  border: none;
  padding: 5px 10px;
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  background: #82b0d8;
}